In [28]:
import pandas as pd
import re

In [2]:
phones = pd.read_csv("telefoni.csv")
phones.head()
len(phones)

52906

Calcolo dei numeri di telefono non ok

In [3]:
regex = r"\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*(\d{1,2})$"

not_ok_phones = phones[phones.telefono.str.contains(regex)==False]
not_ok_phones

/home/mpindaro/.local/lib/python3.7/site-packages/pandas/core/strings.py:1843: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

               telefono is_intercettato
6      +393903298150592               N
8          +3932+884611               N
10         +3938+128273               N
16         +3932+958267               N
23         +3906811+391               N
...                 ...             ...
52881  +393903405904883               N
52885  +393903917515479               N
52888  +393903331619305               N
52890  +393903393376372               N
52903  +393903282166120               N

[4658 rows x 2 columns]

Proporre -1 e 1 invece di S e N

## Statistiche

In [4]:
number_of_not_ok_phones = len(not_ok_phones)
number_of_total_phones = len(phones)

intercepted_phones = phones[phones["is_intercettato"] == "S"]
print(f"Numero di numeri 'rotti': {number_of_not_ok_phones}")
print(f"Percentuale di numeri 'rotti': {(number_of_not_ok_phones/number_of_total_phones * 100):.2f}%")
print()
number_of_s_n = not_ok_phones["is_intercettato"].value_counts().values
print(f"Numero di numeri intercettati: {len(intercepted_phones)}")
print(f"Numero di numeri 'rotti' intercettati: {number_of_s_n[1]}")
print(f"Percentuale di numeri 'rotti' intercettati sul numero di numeri intercettati: {(number_of_s_n[1]/len(intercepted_phones) * 100):.2f} %")

Numero di numeri 'rotti': 4658
Percentuale di numeri 'rotti': 8.80%

Numero di numeri intercettati: 355
Numero di numeri 'rotti' intercettati: 45
Percentuale di numeri 'rotti' intercettati sul numero di numeri intercettati: 12.68 %

## Quelli col doppio + ?

In [5]:
intercepted = pd.read_csv("intercettati.csv", names=["telefono"])
intercepted_list = list(intercepted["telefono"].values)

In [6]:
has_two_plus = r"\+[0-9]+\+[0-9]+|\+[0-9]+\+"
phones_with_two_plus = not_ok_phones[not_ok_phones.telefono.str.contains(has_two_plus)==True]
print(len(phones_with_two_plus))
phones_with_two_plus.telefono = phones_with_two_plus.telefono.map(lambda v: v[0] + v[1:].replace("+", "00") )

phones_with_two_plus = phones_with_two_plus[[numero in intercepted_list for numero in phones_with_two_plus["telefono"]]]
print(len(phones_with_two_plus))

2775
6

/home/mpindaro/.local/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Fix dataframe originale

In [7]:
def fixIsIntercepted(phone, is_intercepted, intercepted_list):
    return "S" if phone in intercepted_list else is_intercepted

In [8]:
phones.telefono = phones.telefono.map(lambda v: (v[0] + v[1:].replace("+", "00")) if (re.search(has_two_plus, v)!= None) else v )
phones.is_intercettato = phones.apply(lambda x: fixIsIntercepted(x['telefono'], x['is_intercettato'], intercepted_list), axis=1)

## Nuove statistiche

In [10]:
regex = r"\+(9[976]\d|8[987530]\d|6[987]\d|5[90]\d|42\d|3[875]\d|2[98654321]\d|9[8543210]|8[6421]|6[6543210]|5[87654321]|4[987654310]|3[9643210]|2[70]|7|1)\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*\d\W*(\d{1,2})$"

not_ok_phones = phones[phones.telefono.str.contains(regex)==False]

Cambiare il flag a quelli fixati

In [11]:
number_of_not_ok_phones = len(not_ok_phones)
number_of_total_phones = len(phones)

intercepted_phones = phones[phones["is_intercettato"] == "S"]
print(f"Numero di numeri 'rotti': {number_of_not_ok_phones}")
print(f"Percentuale di numeri 'rotti': {(number_of_not_ok_phones/number_of_total_phones * 100):.2f}%")
print()
number_of_s_n = not_ok_phones["is_intercettato"].value_counts().values
print(f"Numero di numeri intercettati: {len(intercepted_phones)}")
print(f"Numero di numeri 'rotti' intercettati: {number_of_s_n[1]}")
print(f"Percentuale di numeri 'rotti' intercettati sul numero di numeri intercettati: {(number_of_s_n[1]/len(intercepted_phones) * 100):.2f} %")

Numero di numeri 'rotti': 1937
Percentuale di numeri 'rotti': 3.66%

Numero di numeri intercettati: 361
Numero di numeri 'rotti' intercettati: 45
Percentuale di numeri 'rotti' intercettati sul numero di numeri intercettati: 12.47 %

In [12]:
not_ok_phones_s = not_ok_phones[not_ok_phones["is_intercettato"]=="S"]
not_ok_phones_s

               telefono is_intercettato
1770            +421000               S
1792          +06916248               S
1799         +055414920               S
1813     +3906147258369               S
1815         +029522234               S
1817       +08119569239               S
1855            +400190               S
1857            +421009               S
1867          +02454001               S
1869         +091342858               S
1876         +346992306               S
1877          +06203041               S
1878          +05562320               S
1900         +055700451               S
1907           +0999927               S
1913           +0999925               S
1918           +0999921               S
1919           +0999924               S
1920       +01119829234               S
2019             +40190               S
2030            +409761               S
2100              +5121               S
7952               +140               S
8150         +055446121               S
35618             +3535               S
35642        +604358712               S
35671  +347177834867000               S
35684           +338215               S
35707           +358389               S
35712           +399417               S
35714           +785111               S
43324             +4022               S
43369        +055721172               S
43526           +454804               S
43528           +116169               S
43548           +908749               S
43576           +380680               S
43743           +823000               S
43894        +095272764               S
43939        +055212406               S
43946        +336664138               S
46502        +011217931               S
46507           +609013               S
46519      +35795222643               S
46521      +35795222580               S

- Numeri di 6 cifre: sembrebbero essere numeri scam o inesistenti
- 40190: sembrerebbe numero di vodafone
- Quelli che iniziano con 0 sembrerebbe gli manchi il prefisso. Numeri fissi?
- 4022: numero di Wind
- Quelli con 9 cosÃ¬ consecutivi mi puzzano
- PuÃ² aver senso cercare questi numeri nei tabulati estratti da andrea che magari sono stati trovati?

In [13]:
mask = [numero in intercepted_list for numero in intercepted_phones["telefono"]]
print(f"Numero di telefoni con flag intercettato che risultano essere in intercettati.csv: {mask.count(True)}")
print(f"Numero di telefoni con flag non intercettato che risultano essere in intercettati.csv: {mask.count(False)}")

Numero di telefoni con flag intercettato che risultano essere in intercettati.csv: 152
Numero di telefoni con flag non intercettato che risultano essere in intercettati.csv: 209

In [14]:
little_not_ok_phone_s = list(not_ok_phones_s[[  len(telefono)<10 for telefono in list(not_ok_phones_s["telefono"].values) ]].telefono)

In [15]:
for phone in little_not_ok_phone_s:
    candidate_intercepted_phones = list(filter(lambda v:  phone.strip("+") in v , intercepted_list))
    print(f"Telefono: {phone}, candidati {candidate_intercepted_phones}")

Telefono: +421000, candidati []
Telefono: +06916248, candidati []
Telefono: +400190, candidati []
Telefono: +421009, candidati []
Telefono: +02454001, candidati []
Telefono: +06203041, candidati []
Telefono: +05562320, candidati []
Telefono: +0999927, candidati []
Telefono: +0999925, candidati []
Telefono: +0999921, candidati []
Telefono: +0999924, candidati []
Telefono: +40190, candidati []
Telefono: +409761, candidati []
Telefono: +5121, candidati []
Telefono: +140, candidati ['+355153064072140', '+863607037598140', '+359140075129380', '+35914007512938']
Telefono: +3535, candidati []
Telefono: +338215, candidati ['+34642338215', '+338215']
Telefono: +358389, candidati ['+34604358389', '+358389']
Telefono: +399417, candidati ['+34632399417', '+399417']
Telefono: +785111, candidati ['+34642785111', '+785111']
Telefono: +4022, candidati []
Telefono: +454804, candidati ['+34722454804', '+454804']
Telefono: +116169, candidati ['+34722116169', '+116169']
Telefono: +908749, candidati ['+34672908749', '+908749']
Telefono: +380680, candidati ['+34642380680', '+380680']
Telefono: +823000, candidati ['+34662823000', '+823000']
Telefono: +609013, candidati ['+34602609013', '+609013']

In [16]:
bobo = phones[phones.telefono == "+3467200430"]#COBAJ Ermal
print(list(bobo.is_intercettato.values))
print("+3467200430" in intercepted_list)

[]
True

In [17]:
bobo = phones[phones.telefono == "+3426623092"]#Mazzetti
print(list(bobo.is_intercettato.values))
print("+3426623092" in intercepted_list)

[]
True

Soluzione: inserire intercettati.csv mancanti in telefoni.csv?

In [18]:
not_flagged = list(filter(lambda x: not x in list(phones.telefono), intercepted_list ))

In [19]:
len(not_flagged)

310

In [21]:
not_flagged_p = [ (p, 'S') for p in not_flagged ]
toAppend = pd.DataFrame(not_flagged_p, columns = ["telefono", "is_intercettato"])

In [23]:
toAppend

             telefono is_intercettato
0         +3405147944               S
1         +3661814250               S
2    +356257073804029               S
3         +3313326311               S
4         +3356195970               S
..                ...             ...
305       +3421224703               S
306       +3533696305               S
307       +3454632482               S
308           +920720               S
309           +665557               S

[310 rows x 2 columns]

In [24]:
phones.append(toAppend)

          telefono is_intercettato
0    +393479899812               N
1    +393493663356               S
2    +393245314269               N
3    +393280592192               N
4    +393467131193               N
..             ...             ...
305    +3421224703               S
306    +3533696305               S
307    +3454632482               S
308        +920720               S
309        +665557               S

[53216 rows x 2 columns]

In [27]:
phones.to_csv("fixed_phones.csv", index=False)