In [1]:
import pandas as pd
import re
import os
import csv
import numpy as np

In [17]:
phones = pd.read_csv("fixed_phones.csv",  dtype = str)

In [3]:
lista = os.listdir('extracted_data')

In [4]:
with open('celle.csv', newline='') as f:
    reader = csv.reader(f, delimiter='\n')
    celle_unflatted = list(reader)

In [5]:
celle = [item for sublist in celle_unflatted for item in sublist]

In [6]:
primocsv = lista[0]
primocsv

'f8xx_wind_07.csv'

In [13]:
df = pd.read_csv("extracted_data/f8xx_wind_01.csv", delimiter=";")

In [18]:
phones

               telefono is_intercettato
0         +393479899812               N
1         +393493663356               S
2         +393245314269               N
3         +393280592192               N
4         +393467131193               N
...                 ...             ...
52901     +393929708381               N
52902     +393938796758               N
52903  +393903282166120               N
52904     +393356231038               N
52905     +393938118426               N

[52906 rows x 2 columns]

In [19]:
def getNumberAndFlag(number):
    return (list(phones[phones['telefono']==number].values[0])[1], phones.index[phones['telefono'] == number].tolist()[0])

In [20]:
def getCellaIndex(cella):
    return celle.index(cella) if (cella in celle) else ""

In [21]:
pippo = getNumberAndFlag("+393421224703")
list(pippo)

['S', 7514]

In [26]:

pippo = getNumberAndFlag("+393800218900")
list(pippo)

['N', 8952]

In [22]:
getCellaIndex('N/D STR. PROVINCIALE 61 MONZUNO')

13

In [27]:
tabulati_ridotti = []
for index, row in df.iterrows():
    try:
        if str(row["da_numero"])[0:1] == "+":
            search = getNumberAndFlag("+" + str(row["da_numero"][1:]).replace("+", "00"))
        else:
            search = getNumberAndFlag("+" + str(row["da_numero"]).replace("+", "00"))

        da_numero = search[1]
        da_numero_flag = search[0]
        if str(row["a_numero"])[0:1] == "+":
            search = getNumberAndFlag("+" + str(row["a_numero"][1:]).replace("+", "00"))
        else:
            search = getNumberAndFlag("+" + str(row["a_numero"]).replace("+", "00"))
        a_numero = search[1]
        a_numero_flag = search[0]
    except:
        print(row["da_numero"])
        print(row["a_numero"])
    
    mittende_cella_start = getCellaIndex(row["da_torre_cell_inizio"]) if not str(row["da_torre_cell_inizio"])=="nan" else ""
    mittende_cella_end = getCellaIndex(row["da_torre_cell_fine"]) if not str(row["da_torre_cell_fine"])=="nan" else ""
    destinatario_cella_start = getCellaIndex(row["a_torre_cell_inizio"]) if not str(row["a_torre_cell_inizio"])=="nan" else ""
    destinatario_cella_end = getCellaIndex(row["a_torre_cell_fine"]) if not str(row["a_torre_cell_fine"])=="nan" else ""

    tabulati_ridotti.append( (row["data_ora"], row["durata"], da_numero, da_numero_flag,mittende_cella_start, mittende_cella_end, a_numero, a_numero_flag, destinatario_cella_start, destinatario_cella_start))

In [ ]:
getNumberAndFlag("+393358311578")

In [ ]:
str(np.nan)

In [28]:
tabulati_ridotti_example = pd.DataFrame(tabulati_ridotti, columns = ["timestamp", "durata", "mittente", "is_mittente_intercettato", "mittente_cella_start", "mittente_cella_end", "destinatario", "is_destinatario_intercettato", "destinatario_cella_start", "destinatario_cella_end"])

In [29]:
tabulati_ridotti_example

,timestamp,durata,mittente,is_mittente_intercettato,mittente_cella_start,mittente_cella_end,destinatario,is_destinatario_intercettato,destinatario_cella_start,destinatario_cella_end
0,2017-09-20 12:34:40,117,1765,S,10770,10770,1786,S,,
1,2017-09-20 12:34:40,116,1765,S,,,1786,S,,
2,2017-09-20 14:50:20,56,1765,S,,,8677,N,,
3,2017-09-20 14:50:20,57,1765,S,649,649,1776,N,,
4,2017-09-20 14:50:20,57,1765,S,649,649,1776,N,,
...,...,...,...,...,...,...,...,...,...,...
4995,2018-10-30 19:24:45,19,1765,S,7886,7886,1848,S,,
4996,2018-10-30 19:27:21,47,1848,S,7886,11437,1765,S,,
4997,2018-10-31 08:05:12,474,1765,S,,,1786,S,,
4998,2018-10-31 08:05:12,476,1765,S,1647,11474,1786,S,,
4999,2018-10-31 09:11:24,28,1765,S,,,1786,S,,

In [30]:
tabulati_ridotti_example_n=  tabulati_ridotti_example[tabulati_ridotti_example["is_mittente_intercettato"] == "N"]
tabulati_ridotti_example_n_n=  tabulati_ridotti_example_n[tabulati_ridotti_example_n["is_destinatario_intercettato"] == "N"]
len(tabulati_ridotti_example_n_n)

0

In [35]:
#tabulati_ridotti_example_has_cell_destin = tabulati_ridotti_example[]
#tabulati_ridotti_example_has_cel = tabulati_ridotti_example.mask((tabulati_ridotti_example["mittente_cella_start"] == "") & (tabulati_ridotti_example["destinatario_cella_start"] == ""))
tabulati_ridotti_example_no_cel=  tabulati_ridotti_example[tabulati_ridotti_example["mittente_cella_start"] == ""]
tabulati_ridotti_example_no_cel=  tabulati_ridotti_example_no_cel[tabulati_ridotti_example_no_cel["destinatario_cella_start"] == ""]


len(tabulati_ridotti_example_no_cel)

2826